<!-- <input type="text" class="form-control" [(ngModel)]="carName" /> -->
<input type="text" class="form-control" #carNameInput />
<!-- <input type="text" class="form-control" [(ngModel)]="carYear" /> -->
<input type="text" class="form-control" #carYearInput />
<button class="btn btn-primary" (click)="addCar(carNameInput)">Додати авто</button>