<p>Форма додавання авто</p>
<hr>
<app-add-car (onAddCar)="updateCarList($event)"></app-add-car>

<hr />
<button class="btn btn-success" (click)="changeCarNam()">Змінити ім'я авто</button>
<button class="btn btn-danger" (click)="deleteCar()">Видалити авто</button>
<hr>

<div class="list-group">
    <app-car class="list-group-item" *ngFor="let car of cars" [carItem]="car" [name]="car.name">
    <h4 #carHeading class="list-group-item-heading">Назва: {{ car.name }}</h4>
    <p class="list-group-item-text">Рік {{car.year}}</p>
</app-car>
</div>

